<html>

<head>
</head>

<body>

  <%= form_tag home_upload_path, multipart: true do %>
     <%= file_field_tag :file %>
     <%= submit_tag "Import File" %>
  <% end %>
<h1>HELLO!</h1>
<div id="test">
  <canvas id="myChart" width="100" height="100"></canvas>
</div>
</body>

</html>
