
<head>
</head>

<body>

  <%= form_tag find_page_path do %>
     <%= collection_select :page_id, Page.all, :id, :name %>
     <%= submit_tag "Find" %>
  <% end %>


<div id="test">

  <canvas id="myChart" width="100" height="100"></canvas>
</div>
</body>

</html>
